
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*****************  Navigation  *****************/

/* Removing List Style and link styles */
ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header div ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}